.catalog_main{
  margin-top: 95px;
  justify-content: flex-start;
  padding: 0 3em;
  width: 100vw;
  flex-wrap: nowrap;
  min-height: 100vh;
}

.filter_box{
  width: 326px;

  height: auto;
  background: var(--drop-list-bg);
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  /* position: unset; */
  position: sticky;
  top: 95px;
  padding: 25px;
}

.filter_box h3{

padding: 0 15px;
font-weight: 400;
font-size: 24px;
line-height: 29px;
text-transform: capitalize;

color: #CC5D39;

}


.ItemsListDIV ul .card {
  
  min-width: 400px;
  width: min-content;
}

.ItemsListInnerDIV{

  max-width: none;
    padding: 0;
}



@media (max-width: 992px) {


  .card{
    min-width: 0 !important;
    width: 50% !important;
    padding-bottom: 20px !important;
  }
  .filter_box{
    position: fixed;
    z-index: 100;
    left: 10px;
      width: min-content;
      min-width: 50vw;
      padding-top: 15px !important;
  }
  .sort_options_container, .filter_box{
    border-radius: 10px !important;
    padding: 10px !important;
    font-size: 12px;
  }
}

